.warning-wrap {
  background: #9ad1aa;
  padding: 1rem;
  border-radius: 10px;
}

.warning-component {
  border: 2px solid red;
  border-radius: 10px;
}

.warning-component p {
  font-weight: bold;
}

.warning-content {
  margin-bottom: 0 !important;
}

.clear-btn:hover {
  background: #469b4c;
  color: white;
}

.warning-box {
  border: 2px solid #ffd7be;
  padding: 1rem;
  margin: 0.4rem 0;
  background: #ffd7be;
}

.move-btn {
  border: 1px solid #469b4c;
  padding: 4px;
  background: white;
  color: #469b4c;
  text-decoration: none;
}

.move-btn:hover {
  background: #469b4c;
  color: white;
}

@media (max-width: 767px) {
  .warning-box {
    font-size: 14px;
  }
  .move-btn {
    margin-left: 14px;
  }
}
