.title-text {
  color: #10afa0;
}
.main-bg {
  min-height: 100vh;
  overflow: hidden;
}

.bg-img {
  border-radius: 16px;
}

.about-btn {
  width: 12rem;
  padding: 0.8rem;
  background: #10afa0;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  transition: all 0.3s;
  text-decoration: none;
}

.about-btn:hover {
  color: #10afa0;
  background: white;
  border: 2px solid #10afa0;
}
.about-btn a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.about-btn:hover a {
  color: #10afa0;
}
.discover-btn {
  background: #10afa0;
  padding: 0.8rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid white;
}
.discover-btn:hover {
  color: #10afa0;
  background: white;
}
.features {
  margin-top: 10rem;
}
.about-us {
  margin-top: 10rem;
}
.hover-scroll-component {
  position: relative;
  overflow: hidden;
  background: #10afa0;
  cursor: pointer;
  max-height: 300px;
  border-radius: 16px;
}

.hover-scroll-component .image-container {
  transition: transform 0.5s ease;
}
.hover-scroll-component .content-war,
.hover-scroll-component .content {
  transition: transform 0.5s ease;
  transform: translateY(200%);
}

.hover-scroll-component:hover .image-container {
  transform: translateY(-120%);
}
.hover-scroll-component:hover .content-war {
  transform: translateY(-108%);
}
.hover-scroll-component:hover .content {
  transform: translateY(-120%);
}

.about-us-intro {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.intro-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 4px solid #10afa0;
  object-fit: cover;
}

.intro-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.footer {
  background: #10afa0;
  font-size: 1.2rem;
}

.logo-1 {
  border-radius: 50%;
  width: 152px;
  height: 147px;
}
.logo-2 {
  width: 100px;
  height: 100px;
}
.feature-intro {
  font-size: 1.25rem;
}
.feature-name {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .about-us {
    margin-top: 1rem;
  }
  .features {
    margin-top: 3rem;
  }
  .hover-scroll-component .content-war,
  .hover-scroll-component .content {
    transition: transform 0.5s ease;
    transform: translateY(100%);
  }
  .hover-scroll-component:hover .image-container {
    transform: translateY(-140%);
  }
  .hover-scroll-component:hover .content-war {
    transform: translateY(-120%);
  }
  .hover-scroll-component:hover .content {
    transform: translateY(-140%);
  }
  .about-btn a {
    width: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .discover-btn {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid white;
  }
  .intro-img {
    width: 150px;
    height: 150px;
  }
  .logo-1 {
    width: 135px;
    height: 130px;
  }
  .about-us-intro {
    font-size: 1rem;
  }
}

.team-logo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
